.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 13%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 18px;
  z-index: 3;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.01));
  filter: drop-shadow(0 25px 16px black);
}

.header-container-scrolled {
  background-image: linear-gradient(
    to left,
    rgba(64, 152, 172, 0.8),
    rgb(17, 85, 82, 0.8)
  );
  z-index: 9;
  filter: none;
}

.header-logo {
  margin-top: 10px;
  height: 100px;
}

.header-image {
  background-color: inherit;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.header-links {
  background-color: inherit;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.header-phone-number {
  text-decoration: none;
  color: white;
}

.phone-links {
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

.link-button {
  font-size: 24px;
  margin-top: 5px;
  color: white;
  padding: 5px 15px 5px 5px;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  text-decoration: none;
  border-radius: 10px;
  background-image: linear-gradient(
    rgba(40, 188, 221, 0.9),
    rgba(52, 128, 99, 0.9)
  );
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 40px -7px;
}

.link-button-scrolled {
  background-image: none;
  box-shadow: none;
}

.button-image {
  width: 75px;
}

.telephone-icon {
  filter: brightness(0) invert(1);
}

@media only screen and (min-device-width: 375px) and (max-device-width: 600px) {
  .header-container {
    display: none;
    flex-direction: column;
    padding-top: 200px;
  }

  .header-container-scrolled {
    /* flex-direction: row; */
    display: none;
  }

  .header-logo {
    display: none;
    height: 150px;
    /* margin-top: 300px; */
    filter: drop-shadow(0 5px 16px black);
  }

  .header-links {
    margin-bottom: 10px;
    font-size: 24px;
  }
}
